/* *,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} *


/* Demo ad design */
body #cdawrap {
  background: none;
  top: 50px;
  border: none;
}

body #cdawrap a {
  color: #fff !important;
}

body #cda-remove {
  color: #fff;
}

@media screen and (max-width: 25em) {
  .codrops-header {
    font-size: 75%;
  }

  .codrops-icon span {
    display: none;
  }
}

.grid {
  position: relative;
  clear: both;

  padding: 1.8em 1em 7em;
  max-width: 2000px;
  list-style: none;
  /* text-align: center; */
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0px 2% 0px 1%;
  min-width: 320px;
  max-width: 480px;
  min-height: 420px;
  width: 30%;
  height: auto;
  background: black;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 420px;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: lighter;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  /* font-size: 68.5%; */
}

/*-----------------*/
/***** Goliath *****/
/*-----------------*/

figure.effect-goliath img,
figure.effect-goliath .goliath_text {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figcaption:hover {
  background: rgba(0, 0, 0, 0.5);
}

figure.effect-goliath img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-goliath .goliath_text,
figure.effect-goliath p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 15px;
}

figure.effect-goliath .goliath_text {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

figure.effect-goliath p {
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}

figure.effect-goliath:hover img {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}

figure.effect-goliath:hover .goliath_text {
  -webkit-transform: translate3d(0, -140px, 0);
  transform: translate3d(0, -140px, 0);
}

figure.effect-goliath:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.board {
  padding: 150px 0;
  vertical-align: middle;
}

.board h2 {
  font-size: 36px;
}

.bg-top {
  padding: 100px 0px 200px;
  color: #fcfcfc;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/page-header.jpg);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* padding: 500px 0; */
  background-position: center center;
  /* background-position: 100%; */
  background-size: cover;
}

.bg-top h3 {
  font-size: 30px;
  padding-top: 100px;
}

.bg-top .teamLinks {
  padding: 0 20px;
}

.bg_up {
  position: relative;
}

.bg_container {
  position: absolute;
  z-index: 1;
  top: 300px;
  bottom: 5px;
  left: 0;
  right: 0;
  padding: 0 100px;
  height: 1000px;
}

.text_color a:hover,
.text_color i:hover {
  color: #fff !important;
  text-decoration: none;
}

.fa-plus {
  font-size: 16px !important;
  /* color: blue !important */
}
