.cardItem {
  background: #d6d6d6;
  border-top: 2px solid blue;

  img {
    width: 200px;
  }

  .profile-details {
    .class {
      color: #6a571b;
    }
  }
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #555;
  box-sizing: border-box;
  font-family: "Arvo";
  font-size: 18px;
  height: 50px;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 500px;

  &:focus {
    outline: none;
  }
}

input::-webkit-input-placeholder {
  color: #aaa;
}

input:focus::-webkit-input-placeholder {
  color: dodgerblue;
}

.input:focus + .underline {
  transform: scale(1);
}

.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  left: 50px;
  margin-top: -4px;
  position: absolute;
  top: 163px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 500px;
}

.sidebar {
  height: 100vh;
}

.notFound {
  h1 {
    font-weight: bold;
    color: #555;
    span {
      margin-top: 150px;
      font-size: 300px;
      color: red;
    }
  }
}
